.posts {
  border-bottom: 1px solid #2f3336;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding: 1.5rem 2rem;
  color: rgb(231, 233, 234);
}

.posts:last-child {
  border: none;
}

.image-div {
  min-height: 80px;
  min-width: 80px;
}

.profile-picture {
  border-radius: 50px;
}

.post-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-name {
  font-size: 1.3rem;
  font-weight: 800;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: justify;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.3rem;
}

.repost-icon-div,
.quote-icon-div {
  position: relative;
}

.repost-icon-hover-div {
  font-size: 1rem;
  position: absolute;
  bottom: -100%;
  background-color: rgb(70, 89, 105);
  padding: 0.2rem;
}

.quote-icon-hover-div {
  font-size: 1rem;
  position: absolute;
  bottom: -100%;
  background-color: rgb(70, 89, 105);
  padding: 0.2rem;
}

.icons:hover,
.icons:active {
  cursor: pointer;
}

.repost-icon:hover,
.repost-icon:active {
  color: rgb(29, 155, 240);
}

.quote-icon:hover,
.quote-icon:active {
  color: rgb(0, 186, 124);
}
