.overlay {
  position: fixed;
  z-index: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  width: 40rem;
  background-color: black;
  left: 50%;
  top: 50%;
  padding-top: 3rem;
  transform: translate(-50%, -50%);
  border: 1px solid #5b6165;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 10;
}
