.user-homepage {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
}


/* Botão de posts all/following:*/

.posts-button {
  position: absolute;
  bottom: 10%;
  left: 3%;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(231, 233, 234);
}

.button-text {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.6rem;
  border: 1px solid rgb(231, 233, 234);
  border-radius: 15px;
  cursor: pointer;
}

.active {
  color: #000;
  background-color: rgb(231, 233, 234);
}
